openapi: 3.1.0
info:
  title: Dolphin{anty} Public API
  version: 1.0.7
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  description: |
    Hello and thank you for automating with Dolphin{anty}!

    ## Support

    For any questions, please contact our support (you can find support in the Dolphin{anty} [website](https://dolphin-anty.com) or in Dolphin{anty} app &ndash; just click at the right bottom corner).

    ## LLM-friendly documentation

    If you are looking for docs which you can paste into your LLM, just press _"Download OpenAPI document"_ link above. The document is in format that all LLMs understand.

    ## Authorization
    Authorization is done via a _JWT token_, which you can obtain from the Dolphin{anty} website: [https://dolphin-anty.com/panel](https://dolphin-anty.com/panel/index.html#/api).

    Fill the name and token expiration, then click 'generate token'. You will be presented with a token that you can copy and paste into the `Authorization` header.

    The token is shown only once, so make sure to copy it before closing the page.


    You **must** present token in the `Authorization` header for **every request**.

    ## Rate limiting
    The API is rate limited to 500 requests per minute. If you exceed this limit, you will receive a 429 status code.

    Rate limits are subject to change and fluctuate based on the load on the API, so you may receive a 429 status code even if you are within the limit.

    To be sure you are not exceeding the limit, you can use those headers:
    - `x-ratelimiter-allowed-rph`
    - `x-ratelimiter-allowed-rpm`
    - `x-ratelimiter-allowed-rps`
    - `x-ratelimiter-rph-left`
    - `x-ratelimiter-rpm-left`
    - `x-ratelimiter-rps-left`

    They will be sent with every request.

    ## Error handling
    The API returns standard HTTP status codes for errors. If the request is successful, the status code will be 200.
    If the request is not successful, the status code will be 400 or 500.
    The response body will contain a JSON object with the error message.

    ## Types generation

    You can generate types for your language of choice by using [openapi-typescript](https://github.com/drwpow/openapi-typescript) or [openapi-generator](https://openapi-generator.tech/).

    By doing so, you will be able to use the API in your code without having to manually parse the response. You will have all the types and methods available in your IDE, with autocompletion and type checking. And the types will be updated automatically in case of any changes in the API.

    We're highly recommending to do so, as it will make your life much easier.

    #### Python types generation example

    **Basic setup:**
    ```bash
    pip install openapi-generator-cli
    curl -o openapi.yaml http://docs.dolphin-anty-cdn.com/openapi.yaml
    openapi-generator generate -i openapi.yaml -g python -o ./python-client
    pip install -e ./python-client
    ```

    _Tip: Whichever language you use, run the **type generation and client setup** step in your CI pipeline or as a git hook so that every change to our types in `openapi.yaml` automatically refreshes your typed client._

    **Usage in code:**
    ```python
    from openapi_client import ApiClient, Configuration
    from openapi_client.api import proxies_api
    from openapi_client.models import ProxyCreateInput

    configuration = Configuration()
    configuration.api_key['Authorization'] = 'YOUR_API_KEY'
    configuration.api_key_prefix['Authorization'] = 'Bearer'

    api_instance = proxies_api.ProxiesApi(api_client=ApiClient(configuration))
    proxy_create_input = ProxyCreateInput(
        type="http",
        host="proxy.example.com",
        port=8080,
        login="username",
        password="password"
    )

    api_instance.create_proxy(proxy_create_input)
    ```

    #### TypeScript type-safe client examples

    **First generate static types once:**
    ```bash
    npx openapi-typescript openapi.yaml -o src/api.d.ts
    ```

    _Tip: Whichever language you use, run the **type generation and client setup** step in your CI pipeline or as a git hook so that every change to our types in `openapi.yaml` automatically refreshes your typed client._


    ##### Pattern 1 â€“ openapi-fetch (zero-codegen)

    ```bash
    npm install openapi-fetch openapi-typescript
    ```

    ```typescript
    import createClient from 'openapi-fetch';
    import type { paths } from './api';

    const client = createClient<paths>({
      baseUrl: 'https://dolphin-anty-api.com',
      headers: { Authorization: 'Bearer YOUR_API_KEY' },
    });

    const { data } = await client.POST('/proxy', { body: proxyCreateInput });
    ```

    ##### Pattern 2 â€“ openapi-client-axios (Axios wrapper)

    ```bash
    npm install axios openapi-client-axios openapi-typescript
    ```

    ```typescript
    import OpenAPIClientAxios from 'openapi-client-axios';
    import type { paths } from './api';

    const api = new OpenAPIClientAxios<paths>({
      definition: 'http://docs.dolphin-anty-cdn.com/openapi.yaml',
    });
    const client = await api.init();

    await client.createProxy(null, proxyCreateInput);
    ```

    ## Guarantees

    We are trying not to break things, but sometimes we have to.

    When this happens, we are notifying our users via:

    1. Our Telegram channel: [@dolphin_anty](https://t.me/dolphin_anty)
    2. Our app notifications (top right corner, icon with bell).

    When an endpoint is undergoing for a planned deprecation, we will also mark it as deprecated here, in this Swagger/OpenAPI document.
servers:
  - url: https://dolphin-anty-api.com/api/v2
  - url: https://dolphin-anty-api.com
  - url: https://localhost:3001
security:
  - BearerAuth: []
tags:
  - name: Proxies
    description: Proxy-related endpoints
  - name: Browser Profile Statuses
    description: Browser profile status-related endpoints
  - name: Extensions
    description: Extension-related endpoints
  - name: Folders
    description: Folder-related endpoints
  - name: Browser Profiles
    description: Browser profile-related endpoints
  - name: Fingerprints
    description: Fingerprint-related endpoints
  - name: Homepages
    description: Homepage-related endpoints
  - name: Bookmarks
    description: Bookmark-related endpoints
  - name: Cookies
    description: Cookie import/export endpoints
  - name: Local Storage
    description: Local storage import/export endpoints
  - name: Team Users (API v1)
    description: Team member management endpoints. Only create and delete endpoints are in API v1, if you need to read or update team members, look for endpoints in API v2.
  - name: Team Users (API v2)
    description: Team member management endpoints. Only read and delete endpoints are in API v2, if you need to create or delete team members, look for endpoints in API v1.
  - name: Authentication
    description: Authorization endpoints for storing and managing the remote JWT token inside the Local API.
  - name: Profile Start/Stop
    description: |
      Endpoints that launch or stop a local Anty browser instance bound to an existing Browser profile.

      **Typical automation workflow**

      1. **Start a profile** via `POST /browser_profiles/{browserProfileId}/start` (or `GET .../start?automation=1`). When `automation = true` the response returns the DevTools **port** and **wsEndpoint**.

      2. **Connect** to the running browser through that DevTools endpoint using Puppeteer, Playwright, Selenium or any other CDP-capable tool.

      3. Once your script finishes, **stop** the profile with `GET /browser_profiles/{browserProfileId}/stop` to sync the data directory back to the cloud.

      Remember: the Local API is available only on the same machine where Dolphin{anty} is running and listens on port 3001 by default.
paths:
  /proxy:
    get:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Proxies
      summary: List proxies
      operationId: listProxies
      parameters:
        - name: limit
          in: query
          description: Number of items per page (max 100).
          schema:
            type: integer
        - name: query
          in: query
          description: Filter proxies by name or host prefix.
          schema:
            type: string
        - name: sortBy
          in: query
          description: Field to sort by.
          schema:
            type: string
            enum:
              - name
              - status
              - type
              - host
              - browser_profiles_count
              - created_at
              - updated_at
        - name: order
          in: query
          description: Sort direction.
          schema:
            type: string
            enum:
              - ASC
              - DESC
        - name: ids
          in: query
          description: Restrict list to the provided ids.
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
      responses:
        '200':
          description: Paginated list of proxies.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/proxy_list'
        '400':
          description: Invalid request parameters.
        '401':
          description: Unauthorized.
    post:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Proxies
      summary: Create a proxy
      operationId: createProxy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/proxy_create'
      responses:
        '200':
          description: Newly created proxy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/proxy'
        '400':
          description: Invalid request payload.
        '401':
          description: Unauthorized.
  /proxy/{id}:
    patch:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Proxies
      summary: Update a proxy
      operationId: updateProxy
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Proxy identifier.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/proxy_update'
      responses:
        '200':
          description: Updated proxy data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/proxy'
        '400':
          description: Invalid request payload.
        '401':
          description: Unauthorized.
    delete:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Proxies
      summary: Delete a proxy
      operationId: deleteProxy
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Proxy identifier.
      responses:
        '200':
          description: Deletion result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized.
  /browser_profiles/statuses:
    get:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Browser Profile Statuses
      summary: List browser profile statuses
      operationId: listBrowserProfileStatuses
      parameters:
        - name: limit
          in: query
          description: Number of items per page (max 50).
          schema:
            type: integer
            minimum: 1
            maximum: 50
        - name: query
          in: query
          description: Filter statuses by name prefix.
          schema:
            type: string
      responses:
        '200':
          description: Paginated list of browser profile statuses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/browser_profile_status_list'
        '400':
          description: Invalid request parameters.
        '401':
          description: Unauthorized.
    post:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Browser Profile Statuses
      summary: Create a browser profile status
      operationId: createBrowserProfileStatus
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/browser_profile_status_create'
      responses:
        '200':
          description: Newly created status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/browser_profile_status'
        '400':
          description: Invalid request payload.
        '401':
          description: Unauthorized.
    delete:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Browser Profile Statuses
      summary: Bulk delete browser profile statuses
      operationId: bulkDeleteBrowserProfileStatuses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/browser_profile_status_bulk_delete'
      responses:
        '200':
          description: Deletion result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request payload.
        '401':
          description: Unauthorized.
  /browser_profiles/statuses/{id}:
    get:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Browser Profile Statuses
      summary: Get a browser profile status
      operationId: getBrowserProfileStatus
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Status identifier.
      responses:
        '200':
          description: Browser profile status data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/browser_profile_status'
        '401':
          description: Unauthorized.
        '404':
          description: Status not found.
    patch:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Browser Profile Statuses
      summary: Update a browser profile status
      operationId: updateBrowserProfileStatus
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Status identifier.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/browser_profile_status_update'
      responses:
        '200':
          description: Updated status data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/browser_profile_status'
        '400':
          description: Invalid request payload.
        '401':
          description: Unauthorized.
    delete:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Browser Profile Statuses
      summary: Delete a browser profile status
      operationId: deleteBrowserProfileStatus
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Status identifier.
      responses:
        '200':
          description: Deletion result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized.
  /browser_profiles/statuses/bulk:
    put:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Browser Profile Statuses
      summary: Bulk change Browser profiles statuses
      operationId: bulkChangeBrowserProfileStatuses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/browser_profile_status_bulk_change'
            examples:
              change_to_existing:
                summary: Reference an existing status
                value:
                  ids:
                    - 1
                    - 2
                    - 3
                  status:
                    id: 42
              create_new_status:
                summary: Create a brand-new status and apply it
                value:
                  ids:
                    - 4
                    - 5
                  status:
                    name: In progress
                    color: green
      responses:
        '200':
          description: Change operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request payload.
        '401':
          description: Unauthorized.
  /extensions:
    get:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Extensions
      summary: List extensions
      operationId: listExtensions
      parameters:
        - name: limit
          in: query
          description: Number of items per page (max 100).
          schema:
            type: integer
        - name: query
          in: query
          description: Filter extensions by name prefix.
          schema:
            type: string
      responses:
        '200':
          description: Paginated list of extensions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/extension_list'
        '400':
          description: Invalid request parameters.
        '401':
          description: Unauthorized.
    post:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Extensions
      summary: Add extension from Chrome Web Store link
      operationId: createExtensionFromLink
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/extension_create'
      responses:
        '200':
          description: Newly added extension.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/extension'
        '400':
          description: Invalid request payload.
        '401':
          description: Unauthorized.
    delete:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Extensions
      summary: Delete extensions
      operationId: deleteExtensions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/extension_bulk_delete'
      responses:
        '200':
          description: Deletion result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized.
  /extensions/upload-zipped:
    post:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Extensions
      summary: Upload extension from ZIP archive
      operationId: uploadExtensionFromZip
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/extension_upload'
      responses:
        '200':
          description: Upload successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request payload.
        '401':
          description: Unauthorized.
  /folders:
    get:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Folders
      summary: List folders
      operationId: listFolders
      parameters:
        - name: query
          in: query
          description: Filter folders by name prefix.
          schema:
            type: string
      responses:
        '200':
          description: List of folders.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/folder_list'
        '401':
          description: Unauthorized.
    post:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Folders
      summary: Create a folder
      operationId: createFolder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/folder_create'
      responses:
        '200':
          description: Newly created folder identifier.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        description: Identifier of the newly created folder.
        '400':
          description: Invalid request payload.
        '401':
          description: Unauthorized.
  /folders/{id}:
    get:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Folders
      summary: Get a folder
      operationId: getFolder
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Folder identifier.
      responses:
        '200':
          description: Folder data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/folder'
        '401':
          description: Unauthorized.
        '404':
          description: Folder not found.
    patch:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Folders
      summary: Update a folder
      operationId: updateFolder
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Folder identifier.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/folder_update'
      responses:
        '200':
          description: Updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request payload.
        '401':
          description: Unauthorized.
    delete:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Folders
      summary: Delete a folder
      operationId: deleteFolder
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Folder identifier.
        - name: withProfiles
          in: query
          description: If `true`, Browser profiles contained in the folder will also be deleted (subject to access permissions).
          schema:
            type: boolean
      responses:
        '200':
          description: Deletion result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized.
  /folders/order:
    put:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Folders
      summary: Update folders display order
      operationId: updateFolderOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/folder_order_update'
      responses:
        '200':
          description: Order updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request payload.
        '401':
          description: Unauthorized.
  /folders/mass/attach-profiles:
    post:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Folders
      summary: Attach Browser profiles to a folder
      operationId: attachProfilesToFolder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/folder_attach_profiles'
      responses:
        '200':
          description: Profiles attached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request payload.
        '401':
          description: Unauthorized.
  /folders/mass/detach-profiles:
    delete:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Folders
      summary: Detach Browser profiles from folders
      operationId: detachProfilesFromFolder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/folder_detach_profiles'
      responses:
        '200':
          description: Profiles detached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request payload.
        '401':
          description: Unauthorized.
  /folders/{id}/profile-ids:
    get:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Folders
      summary: Get Browser profile identifiers for a folder
      operationId: getFolderProfileIds
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Folder identifier.
      responses:
        '200':
          description: Array of profile identifiers and password flag.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/folder_profile_ids'
        '401':
          description: Unauthorized.
        '404':
          description: Folder not found.
  /browser_profiles:
    post:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Browser Profiles
      summary: Create a browser profile
      operationId: createBrowserProfile
      description: |
        ## Important note

        Each browser profile **must** include a complete and internally coherent
        fingerprint. The backend does **not** auto-generate this data â€“ if you omit
        fingerprint fields the request will be rejected with a validation
        error.

        The safest way to satisfy this requirement is to build the fingerprint
        entirely from data returned by the `/fingerprints/*` helper endpoints (see
        below). When you do so all nested values â€“ WebGL hashes, connection metrics,
        hardware specs â€“ originate from real devices and therefore match each other
        logically, drastically reducing the probability of being flagged by
        anti-fraud systems.

        ## Fingerprint workflow (recommended)

        1. **Decide on the target platform and Chrome version** you want the profile
           to mimic. Remember that the **major** Chrome version (e.g. `115`) is
           enough â€“ minor/build numbers are supplied automatically by the dataset.

        2. **Fetch the core fingerprint**: `GET /fingerprint?platform=<windows|macos|linux>&browser_type=anty&browser_version=<INT>`. The call returns a JSON object with dozens of nested blocks (`webrtc`, `canvas`, `screen`, â€¦). Copy it **verbatim** into the `fingerprint` property of the request body.

        3. *(Optional)* **Rotate the User-Agent** while keeping it consistent with
           the previous step: `GET /useragent?platform=<platform>&browser_version=<INT>`. Assign the returned string to the **top-level** `useragent.value` field or override the flattened `uaFullVersion` / `useragent` block if you want full manual control.

        4. *(Optional)* **Choose a specific GPU adapter** `GET /webgl-list?platform=<platform>&withMaximum=true&browser_version=<INT>`. Find the vendor/renderer pair you like and replace the original `webglInfo` / `webgl2Maximum` fields inside the fingerprint. Always copy the pair **together** so that WebGL1 & WebGL2 data stay in sync.

        5. *(Optional)* **Fetch realistic font families** for the chosen OS: `GET /font-list?platform=<platform>`. Use the array as-is for the `fonts` field (remember to also set `fontsMode` to `manual`) or filter it to your needs.

        6. **Populate the required top-level fields** listed below (`name`,
           `platform`, `browserType`, `platformVersion`).

        7. *(Optional)* Fill in additional properties such as `proxy`, `statusId`,
           tags, notes, etc. â€“ see the complete field reference afterwards.

        8. **POST /browser_profiles** with the assembled JSON. A successful response
           contains `browserProfileId` that you can store for future operations.

        ## Request body fingerprints parameters reference

        ### Fingerprint container

        - `fingerprint` *(object)* â€“ The **entire** object returned by
          `GET /fingerprint`. Contains nested blocks for UA, WebGL, canvas, fonts,
          hardware metrics, etc. The backend automatically flattens derived fields
          so you usually donâ€™t need to copy them yourself.

        ### Low-level flattened fields

        - `uaFullVersion`, `platformName`, `platformVersion`, `cpuArchitecture`, `osVersion`,
          `screenWidth`, `screenHeight`, `vendorSub`, `productSub`, `vendor`,
          `product`, `appCodeName`, `doNotTrack` â€“ Take it from the fingerprint object if you do not understand what to put here. Wrong value here will likely trigger EVERY anti-fraud system.
        - `connectionDownlink` *(number|null)* â€“ Reported downlink speed in Mbps.
        - `connectionEffectiveType` *(string|null)* â€“ Reported connection type
          (`4g`, `3g`, â€¦).
        - `connectionRtt` *(number|null)* â€“ Reported round-trip time in ms.
        - `connectionSaveData` *(0|1|null)* â€“ Whether the connection claims to
          be in data-saving mode (0 = off, 1 = on).

        ## Tips
        - You can add the proxy to the profile when creating browser profile body:
            - providing the proxy id in the `proxy` property,
            - or you can create a new proxy and attach to the profile when if you provide the proxy host, port and other parameters in the `proxy` property.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/browser_profile_create'
      responses:
        '200':
          description: Newly created profile identifier.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - browserProfileId
                  - data
                properties:
                  success:
                    type: boolean
                    example: true
                  browserProfileId:
                    type: integer
                    description: Identifier of the new Browser profile.
                    example: 12345
                  data:
                    type: object
                    required:
                      - id
                    properties:
                      id:
                        type: integer
                        description: Same identifier echoed for convenience.
                        example: 12345
        '400':
          description: Invalid request payload (validation error, exceeded limits, etc.).
        '401':
          description: Unauthorized.
    get:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Browser Profiles
      summary: List browser profiles
      operationId: listBrowserProfiles
      parameters:
        - name: limit
          in: query
          description: Number of items per page (max 100).
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: page
          in: query
          description: Page number to return (1-based). When omitted the first page is returned.
          schema:
            type: integer
            minimum: 1
        - name: query
          in: query
          description: Full-text search string. Matches against profile name, proxy host, and other key fields.
          schema:
            type: string
        - name: noteQuery
          in: query
          description: Performs a full-text search **only inside profile notes**.
          schema:
            type: string
        - name: tags
          in: query
          description: Filter by one or more tag names (comma-separated).
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: statuses
          in: query
          description: Filter by one or more status identifiers (comma-separated).
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: mainWebsites
          in: query
          description: Filter by main website value (comma-separated list).
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: proxies
          in: query
          description: Restrict the list to profiles that use the given proxy identifiers.
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: users
          in: query
          description: Restrict the list to profiles created by the specified user identifiers.
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: folders
          in: query
          description: Restrict the list to profiles located in the given folder identifiers (max 100).
          style: form
          explode: false
          schema:
            type: array
            maxItems: 100
            items:
              type: integer
        - name: sortBy
          in: query
          description: Field to sort by.
          schema:
            type: string
            enum:
              - name
              - proxyId
              - concat_tags
              - totalSessionDuration
              - status
              - timer
              - created_at
              - updated_at
              - launched
              - idProfile
        - name: order
          in: query
          description: Sort direction.
          schema:
            type: string
            enum:
              - ASC
              - DESC
      responses:
        '200':
          description: Paginated list of browser profiles.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/browser_profile_list'
        '400':
          description: Invalid request parameters.
        '401':
          description: Unauthorized.
    delete:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Browser Profiles
      summary: Bulk delete Browser profiles
      description: |
        Delete multiple Browser profiles at once.
        The behaviour regarding the *Basket* (temporary recycle bin) is the same as for single-profile deletion:
        - On paid plans the profiles are *soft-deleted* â€“ they go to the Basket for
          48 hours and can be restored during that window.
        - On Free / Free+ plans there is **no** Basket, therefore the caller must pass
          `forceDelete: true` if it really intends to erase the profiles.
        - Supplying `forceDelete: true` on paid plans skips the Basket and permanently
          removes the profiles immediately.

        See the detailed explanation here: https://help.dolphin-anty.com/en/articles/7898943-deleting-and-restoring-profiles-in-dolphin-anty
      operationId: bulkDeleteBrowserProfiles
      requestBody:
        required: true
        description: |
          By default (on paid plans) profiles are *soft-deleted* â€“ they are moved to
          the **Basket** and can be restored within 48 hours. Use `forceDelete: true`
          to skip the Basket. Free / Free+ plans do not have a Basket and must always
          pass `forceDelete: true`.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/browser_profile_bulk_delete'
            examples:
              delete_multiple:
                summary: Soft-delete several profiles
                value:
                  ids:
                    - 1
                    - 2
                    - 3
              force_delete_free_plan:
                summary: Permanently remove profiles on a free plan
                value:
                  ids:
                    - 10
                    - 11
                  forceDelete: true
              single_with_password:
                summary: Delete single password-protected profile
                value:
                  ids:
                    - 42
                  browserProfilePassword: myStrongPassword
      responses:
        '200':
          description: Deletion result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request payload.
        '401':
          description: Unauthorized.
        '403':
          description: Access denied or confirmation required.
        '404':
          description: Some Browser profile identifiers not found.
  /browser_profiles/mass:
    post:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Browser Profiles
      summary: Bulk create Browser profiles
      operationId: massCreateBrowserProfiles
      description: |
        Creates multiple Browser profiles in one request.

        ### How it works

        1. Supply an `items` array with the full payload of each profile (exactly the same structure that you would send to **Create a browser profile** endpoint).

        2. Optionally provide a `common` object that contains field values shared by
           every profile &ndash; the backend merges this object into each element of
           `items` before validation. If the same key is present both inside
           `common` and an individual item, the **item wins**.

        The endpoint is ideal when you need to import dozens of pre-generated
        fingerprints or run a migration script and want to minimise round-trips.

        ### Limits

        The maximum number of items that can be sent in one call may vary. Currently,
        it is 100.

        ### Notes

        - The backend validates each profile independently. A profile that fails
          validation does **not** stop the whole batch &ndash; it is reported inside
          the `failed`/`errors` arrays, while other valid profiles are still created.

        ### Simplified payload examples (illustrative only)

        The following two examples are shown as request examples. They
        are kept here for illustration of the `items` / `common` structure, but they
        are intentionally simplified and will likely produce incomplete profiles that
        fail to launch.
        Important: For bulk creation the backend applies only top-level fields of
        each item. Do not nest fingerprint blocks under `fingerprint`. Instead,
        provide the relevant fingerprint-derived fields directly at the root of each
        item (e.g. `useragent`, `uaFullVersion`, `cpu`, `memory`, `screenWidth`,
        `screenHeight`, `connectionDownlink`, `connectionRtt`, `connectionEffectiveType`,
        `connectionSaveData`, `vendor`, `product`, `vendorSub`, `productSub`,
        `appCodeName`, `doNotTrack`, `webglInfo`, `webgl2Maximum`, etc.).

        Basic batch without `common`:

        ```json
        {
          "items": [
            { "name": "Profile A", "platform": "windows", "platformVersion": "10", "browserType": "anty" },
            { "name": "Profile B", "platform": "windows", "platformVersion": "10", "browserType": "anty" }
          ]
        }
        ```

        Attach settings via the `common` object:

        ```json
        {
          "common": {
            "proxy": { "id": 42 },
            "useragent": {
              "mode": "manual",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36"
            }
          },
          "items": [
            { "name": "Profile with shared proxy 1", "platform": "macos", "platformVersion": "13.6", "browserType": "anty" },
            { "name": "Profile with shared proxy 2", "platform": "macos", "platformVersion": "14.4", "browserType": "anty" }
          ]
        }
        ```
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/browser_profile_mass_create'
            examples:
              working_minimal:
                summary: Batch without `common` (Windows/Chrome)
                value:
                  items:
                    - name: Win Chrome 113 - A
                      platform: windows
                      platformVersion: '10'
                      browserType: anty
                      useragent:
                        mode: manual
                        value: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/113.0.0.0 Safari/537.36
                      uaFullVersion: 113.0.5672.63
                      cpu:
                        mode: manual
                        value: 4
                      memory:
                        mode: manual
                        value: 8
                      screen:
                        mode: real
                      webrtc:
                        mode: real
                      canvas:
                        mode: real
                      webgl:
                        mode: real
                      timezone:
                        mode: manual
                        value: Europe/Paris
                      clientRect:
                        mode: auto
                      geolocation:
                        mode: manual
                        latitude: 48.8566
                        longitude: 2.3522
                      locale:
                        mode: manual
                        value: fr-FR
                      ports:
                        mode: protect
                        blacklist: 3389,5900,5800,7070,6568,5938
                      platformName: Windows 10
                      cpuArchitecture: x86_64
                      osVersion: 10.0.19045
                      screenWidth: 1920
                      screenHeight: 1080
                      connectionDownlink: 9.9
                      connectionRtt: 50
                      connectionEffectiveType: 4g
                      connectionSaveData: 0
                      vendorSub: ''
                      productSub: '20030107'
                      vendor: Google Inc.
                      product: Gecko
                      appCodeName: Mozilla
                      doNotTrack: false
                      webglInfo:
                        mode: manual
                        vendor: NVIDIA Corporation
                        renderer: NVIDIA GeForce GTX 1050 Ti/PCIe/SSE2
                    - name: Win Chrome 113 - B
                      platform: windows
                      platformVersion: '10'
                      browserType: anty
                      useragent:
                        mode: manual
                        value: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/113.0.0.0 Safari/537.36
                      uaFullVersion: 113.0.5672.63
                      cpu:
                        mode: manual
                        value: 8
                      memory:
                        mode: manual
                        value: 16
                      screen:
                        mode: real
                      webrtc:
                        mode: real
                      canvas:
                        mode: real
                      webgl:
                        mode: real
                      timezone:
                        mode: manual
                        value: America/New_York
                      clientRect:
                        mode: auto
                      geolocation:
                        mode: manual
                        latitude: 40.7128
                        longitude: -74.006
                      locale:
                        mode: manual
                        value: en-US
                      ports:
                        mode: protect
                        blacklist: 3389,5900,5800,7070,6568,5938
                      platformName: Windows 10
                      cpuArchitecture: x86_64
                      osVersion: 10.0.19045
                      screenWidth: 1366
                      screenHeight: 768
                      connectionDownlink: 7.2
                      connectionRtt: 70
                      connectionEffectiveType: 4g
                      connectionSaveData: 0
                      vendorSub: ''
                      productSub: '20030107'
                      vendor: Google Inc.
                      product: Gecko
                      appCodeName: Mozilla
                      doNotTrack: false
                      webglInfo:
                        mode: manual
                        vendor: Intel Inc.
                        renderer: Intel(R) UHD Graphics 630
              working_with_common:
                summary: Batch using `common` for proxy and UA (macOS/Chrome)
                value:
                  common:
                    proxy:
                      id: 42
                    useragent:
                      mode: manual
                      value: Mozilla/5.0 (Macintosh; Intel Mac OS X 14_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36
                  items:
                    - name: Mac Chrome 123 - A
                      platform: macos
                      platformVersion: '14.4'
                      browserType: anty
                      uaFullVersion: 123.0.6312.86
                      cpu:
                        mode: manual
                        value: 8
                      memory:
                        mode: manual
                        value: 8
                      screen:
                        mode: real
                      webrtc:
                        mode: real
                      canvas:
                        mode: real
                      webgl:
                        mode: real
                      timezone:
                        mode: manual
                        value: Europe/Berlin
                      clientRect:
                        mode: auto
                      geolocation:
                        mode: manual
                        latitude: 52.52
                        longitude: 13.405
                      locale:
                        mode: manual
                        value: de-DE
                      ports:
                        mode: protect
                        blacklist: 3389,5900,5800,7070,6568,5938
                      platformName: macOS
                      cpuArchitecture: x86_64
                      osVersion: '14.4'
                      screenWidth: 2560
                      screenHeight: 1440
                      connectionDownlink: 10.5
                      connectionRtt: 40
                      connectionEffectiveType: 4g
                      connectionSaveData: 0
                      vendorSub: ''
                      productSub: '20030107'
                      vendor: Google Inc.
                      product: Gecko
                      appCodeName: Mozilla
                      doNotTrack: false
                      webglInfo:
                        mode: manual
                        vendor: Apple Inc.
                        renderer: AMD Radeon Pro 5500M OpenGL Engine
                    - name: Mac Chrome 123 - B
                      platform: macos
                      platformVersion: '13.6'
                      browserType: anty
                      uaFullVersion: 123.0.6312.86
                      cpu:
                        mode: manual
                        value: 4
                      memory:
                        mode: manual
                        value: 8
                      screen:
                        mode: real
                      webrtc:
                        mode: real
                      canvas:
                        mode: real
                      webgl:
                        mode: real
                      timezone:
                        mode: manual
                        value: America/Los_Angeles
                      clientRect:
                        mode: auto
                      geolocation:
                        mode: manual
                        latitude: 34.0522
                        longitude: -118.2437
                      locale:
                        mode: manual
                        value: en-US
                      ports:
                        mode: protect
                        blacklist: 3389,5900,5800,7070,6568,5938
                      platformName: macOS
                      cpuArchitecture: x86_64
                      osVersion: '13.6'
                      screenWidth: 1680
                      screenHeight: 1050
                      connectionDownlink: 8
                      connectionRtt: 55
                      connectionEffectiveType: 4g
                      connectionSaveData: 0
                      vendorSub: ''
                      productSub: '20030107'
                      vendor: Google Inc.
                      product: Gecko
                      appCodeName: Mozilla
                      doNotTrack: false
                      webglInfo:
                        mode: manual
                        vendor: Apple Inc.
                        renderer: Intel(R) Iris(TM) Plus Graphics 640
      responses:
        '200':
          description: Result of the bulk-create operation.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - ids
                  - failed
                  - errors
                properties:
                  success:
                    type: boolean
                    description: '`true` when **all** profiles were created successfully.'
                  ids:
                    type: array
                    description: Identifiers of the successfully created profiles.
                    items:
                      type: integer
                      format: int64
                  failed:
                    type: array
                    description: Echo of the payloads that failed validation/creation.
                    items:
                      type: object
                  errors:
                    type: array
                    description: Error descriptors corresponding to each failed item.
                    items:
                      type: object
              examples:
                partial_failure:
                  summary: Some profiles failed validation
                  value:
                    success: false
                    ids:
                      - 101
                      - 102
                    failed:
                      - name: bad profile
                    errors:
                      - type: E_LIMIT
                        code: E_LIMIT_PROFILES
                        text: You have reached browser profiles limit
        '400':
          description: Invalid request payload (e.g. malformed JSON, wrong field types).
        '401':
          description: Unauthorized.
  /browser_profiles/transfer:
    post:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Browser Profiles
      summary: Transfer Browser profiles to another user
      operationId: transferBrowserProfiles
      description: |
        Initiates transfer of one or more Browser profiles to another Dolphin{anty} user.

        The receiver is specified via e-mail and may belong to the same team/workspace or to a different one. When the receiver belongs to a different team the profiles are physically moved (their `teamId` changes), otherwise only the ownership is reassigned.
        ### Important note
        You will completely lose access to the profiles after the transfer. This is like _move_ operation, not _copy_. If you want to _share_ the profiles with another user, use the **Share Browser profiles** endpoint instead.
        ### Business rules & restrictions
        1. The sender must have an **active paid subscription** (feature is unavailable on Free / Trial plans).
        2. The subscription of the sender team must be active â€“ expired subscriptions
           cannot initiate transfers (HTTP 402 is returned).

        3. The caller must either **own** the profile(s) or have the `share` permission for each of them; otherwise the request is rejected with HTTP 403.
        4. The receiver team must have enough free profile quota; otherwise the request is rejected with HTTP 422 (`E_SUBSCRIPTION_LIMITS_OTHER_TEAM`).
        5. Use the optional `withProxy` flag when you also want to move proxies attached to the profiles.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/browser_profile_transfer'
            examples:
              transfer_to_teammate:
                summary: Move two profiles to a teammate within the same workspace
                value:
                  ids:
                    - 101
                    - 102
                  username: alice@example.com
              transfer_to_other_team:
                summary: Transfer a single profile (together with its proxy) to a user in another team
                value:
                  ids:
                    - 555
                  username: bob@anotherteam.com
                  withProxy: true
      responses:
        '200':
          description: Transfer queued successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Unauthorized.
        '402':
          description: Subscription inactive or feature unavailable on the current plan.
        '403':
          description: Access denied â€“ the caller does not own or cannot share some of the requested profiles.
        '422':
          description: Receiver team exceeded its Browser profiles limit.
  /browser_profiles/{id}:
    get:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Browser Profiles
      summary: Get browser profile
      operationId: getBrowserProfile
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the browser profile.
          schema:
            type: integer
        - name: browserProfilePassword
          in: query
          required: false
          description: |
            If the profile is protected with a password, supply it here to obtain full profile details. The password **must** match the one set in the Dolphin{anty} desktop app otherwise an `E_BROWSER_PROFILE_ACCESS_DENIED` error is returned.
          schema:
            type: string
            minLength: 6
            maxLength: 512
      responses:
        '200':
          description: Browser profile details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/browser_profile_full'
                required:
                  - data
        '400':
          description: Invalid request parameters or client version mismatch.
        '401':
          description: Unauthorized.
        '403':
          description: Access denied (profile is protected or user lacks permission).
        '404':
          description: Browser profile not found.
    patch:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Browser Profiles
      summary: Update a browser profile
      operationId: updateBrowserProfile
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the browser profile.
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/browser_profile_update'
            examples:
              rename_profile:
                summary: Rename a browser profile
                value:
                  name: My new profile name
              change_status:
                summary: Change status and assign proxy
                value:
                  statusId: 4
                  proxy:
                    id: 123
      responses:
        '200':
          description: Updated browser profile data.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/browser_profile_full'
        '400':
          description: Invalid request payload (validation error, exceeded limits, etc.).
        '401':
          description: Unauthorized.
        '403':
          description: Access denied (profile is protected or user lacks permission).
        '404':
          description: Browser profile not found.
    delete:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Browser Profiles
      summary: Delete a browser profile
      description: |
        Parameters used when deleting (or permanently purging) a single Browser profile.
        By **default** (for paid plans â€“ Base, Team, Enterprise) a deleted profile is not removed immediately. Instead it is moved to a temporary storage area called the *Basket* (a 48-hour recycle bin). Within that time the profile can be restored via the "Basket" UI or the `POST /browser_profiles/basket/restore` API.
        - **Basket availability** â€“ only paid plans have this feature; Free / Free+
          plans do **not** have a Basket at all [[link](https://help.dolphin-anty.com/en/articles/7898943-deleting-and-restoring-profiles-in-dolphin-anty)].
        - **forceDelete flag** â€“ set `forceDelete: true` to bypass the Basket and
          permanently erase the profile. Free plans **must** supply this flag because
          there is no Basket to store deleted profiles.

        Profiles that stay in the Basket for more than 48 hours are automatically and irrevocably purged by the backend.
      operationId: deleteBrowserProfile
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Browser profile identifier.
      requestBody:
        required: false
        description: |
          Deleting a profile normally moves it to the **Basket** (48-hour recycle bin)
          where it can be restored. Supply `forceDelete: true` to bypass the Basket
          and purge the profile immediately. Free / Free+ plans must always set
          `forceDelete: true` because the Basket feature is not available for them.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/browser_profile_delete'
            examples:
              permanent:
                summary: Permanently delete a profile on a free plan
                value:
                  browserProfilePassword: myStrongPassword
                  forceDelete: true
              soft_delete:
                summary: Move profile to basket (paid plan default)
                value: {}
      responses:
        '200':
          description: Deletion result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized.
        '403':
          description: Access denied or confirmation required.
        '404':
          description: Browser profile not found.
  /browser_profiles/access:
    post:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Browser Profiles
      summary: Share access to multiple browser profiles
      operationId: shareAccessToMultipleBrowserProfiles
      description: |
        Grants (**or revokes**) permissions to one or more **existing** Dolphin{anty}
        users for a batch of Browser profiles.

        * Use **`action: add`** to grant the listed permissions.
        * Use **`action: remove`** to revoke the same permissions.

        The caller must own the profile **or** have the `share` permission for every
        profile included in `ids`.

        ### Business rules & restrictions

        1. A paid subscription is required to share profiles; Free / Trial plans
           cannot initiate sharing.

        2. When `action` is `remove` the access row is deleted only when **all**
           permission flags (`view`, `update`, `delete`, `share`, `usage`) are
           supplied and set to `true`.

        3. Administrators and Team Leads always receive *full* permissions regardless
           of the flags passed â€“ the backend automatically upgrades them.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/browser_profile_access_multi_edit'
            examples:
              grant_access:
                summary: Grant view/update permissions for two users over three profiles
                value:
                  ids:
                    - 101
                    - 102
                    - 103
                  users:
                    - id: 501
                      view: true
                      update: true
                    - id: 502
                      view: true
                  action: add
              revoke_access:
                summary: Revoke all permissions from a user for a single profile
                value:
                  ids:
                    - 101
                  users:
                    - id: 501
                      view: true
                      update: true
                      delete: true
                      share: true
                      usage: true
                  action: remove
      responses:
        '200':
          description: Permissions updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request payload (validation error, exceeded limits, wrong `action`, etc.).
        '401':
          description: Unauthorized.
        '403':
          description: Access denied â€“ the caller does not own or cannot share some of the requested profiles.
        '404':
          description: One or more Browser profiles were not found.
  /browser_profiles/{id}/access:
    patch:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Browser Profiles
      summary: Share access to browser profile
      operationId: shareAccessToBrowserProfile
      parameters:
        - name: id
          in: path
          required: true
          description: Identifier of the Browser profile.
          schema:
            type: integer
            format: int64
      description: |
        Updates (grants or revokes) permissions for the specified Browser profile.
        Compared to the bulk variant this endpoint always operates on **one** profile
        and therefore omits the `ids` and `action` fields.

        The caller must own the profile **or** have the `share` permission for it.

        ### Additional behaviour

        * If the profile is protected by a password, the correct password must be
          supplied via the `password` field; otherwise the request is rejected with
          HTTP 403 (`E_BROWSER_PROFILE_WRONG_PASSWORD`).
        * Admins and Team Leads always receive full permissions regardless of the
          flags passed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/browser_profile_access_update'
            examples:
              grant_full_access:
                summary: Give user
                value:
                  users:
                    - userId: 501
                      view: true
                      update: true
                      delete: true
                      share: true
                      usage: true
              revoke_usage_right:
                summary: Revoke the ability to run a profile from user
                value:
                  users:
                    - userId: 502
                      usage: false
                  browserProfilePassword: mySecurePassword
      responses:
        '200':
          description: Permissions updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request payload (validation error, exceeded limits, etc.).
        '401':
          description: Unauthorized.
        '403':
          description: Access denied â€“ wrong password or the caller cannot share this profile.
        '404':
          description: Browser profile not found.
  /useragent:
    get:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Fingerprints
      summary: Fetch a random user-agent string
      operationId: useragent
      description: |
        Returns a **real-world user-agent string** that matches the requested
        platform and Chrome version.
        The value comes from Dolphin{anty}'s internal dataset collected from
        genuine devices so that it can be safely used for high-fidelity
        browser fingerprint spoofing.

        ### Behaviour details

        1. The backend looks for `User-Agent` strings where the major Chrome
           version (short version) and operating system match the supplied filters.

        2. Random value is selected from the matching records.

        3. When the `browser_version` parameter must be supplied.

        4. When **no matching records** are found the endpoint responds with HTTP
           `404`.
      parameters:
        - name: platform
          in: query
          description: |
            Target operating system the user-agent should imitate.

            Accepted values correspond to `navigator.platform`.
          required: true
          schema:
            type: string
            enum:
              - windows
              - macos
              - linux
          example: windows
        - name: browser_version
          in: query
          description: |
            Desired **major** Chrome version (e.g. `113`).

            When omitted or set to a version newer than the current stable release
            the backend falls back to its internally configured default.
          required: true
          schema:
            type: integer
            format: int32
          example: 113
        - name: oldUseragent
          in: query
          description: |
            Previously used user-agent string.

            Supplying the value hints the backend to return a different UA so that
            consecutive calls can rotate user-agents.

            For backwards compatibility â€“ it is optional and ignored when empty.

            Right now Desktop useragents use only one invariant per OS and version, so, e.g. for Chrome 113 on Windows 10, the useragent is the same as for Chrome 113 on Windows 11 on totally different PCs.
            So you would not get new useragents for the same Chrome version on the same OS.
          required: false
          schema:
            type: string
            maxLength: 1024
      responses:
        '200':
          description: Successful response. Contains a single user-agent string.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: string
                    description: The selected user-agent string.
                    example: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/113.0.0.0 Safari/537.36
        '400':
          description: Invalid request parameters (validation failed).
        '401':
          description: Unauthorized â€“ JWT token missing or invalid.
        '404':
          description: No matching user-agents were found for the supplied filters.
  /fingerprint:
    get:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Fingerprints
      summary: Fetch a random, production-quality browser fingerprint
      operationId: fingerprint
      description: |
        Returns a **real-world browser fingerprint** randomly selected from the
        Dolphin{anty} dataset.

        The response is tailored for the requested platform & browser combination and
        can be copied directly into the `fingerprint` field of the
        `POST /browser_profiles` request body. Doing so guarantees the generated
        profile has a coherent, detection-resistant fingerprint.

        ### Behaviour details

        Values are sampled from devices with realistic hardware specs. The query parameters act as **hard filters** â€“ if no matching fingerprints are found the endpoint returns HTTP `200` with an empty JSON object.
      parameters:
        - name: platform
          in: query
          description: |
            Target operating system that the fingerprint must imitate.
            Accepted values correspond to `navigator.platform` and *Dolphin{anty}* internal naming.
          required: true
          schema:
            type: string
            enum:
              - windows
              - macos
              - linux
              - android
          example: windows
        - name: browser_type
          in: query
          description: |
            Desired browser family. Currently only `anty` is supported.
          required: true
          schema:
            type: string
            enum:
              - anty
        - name: browser_version
          in: query
          description: |
            Major (short) version of the browser. When omitted or greater than the
            current stable Chrome version the backend falls back to its internal
            default (configured at deploy time).
          required: false
          schema:
            type: integer
            format: int32
          example: 138
        - name: screen
          in: query
          description: |
            Optional screen resolution filter expressed as `<width>x<height>` (e.g.
            `1920x1080`). Only fingerprints whose screen size is **less than or
            equal** to the requested resolution are considered for selection.
          required: false
          schema:
            type: string
            pattern: ^[0-9]{3,5}x[0-9]{3,5}$
          example: 1920x1080
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/fingerprint'
        '400':
          description: Invalid request parameters (validation failed).
        '401':
          description: Unauthorized â€“ JWT token missing or invalid.
        '404':
          description: No matching fingerprints were found for the supplied filters.
  /webgl-list:
    get:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Fingerprints
      summary: List available WebGL vendor/renderer combinations
      operationId: webglList
      description: |
        Returns the **list of GPU vendors and their WebGL renderer strings** that can
        be used to construct realistic WebGL fingerprints for a given platform.

        The endpoint draws from Dolphin{anty}'s internal dataset captured from
        real devices. Depending on the request parameters it returns either:

        * **Vendor â†’ array of renderers** (default) â€“ only the raw strings required to spoof `WEBGL_debug_renderer_info` values.

        * **Vendor â†’ renderer â†’ object** (when `withMaximum` is set to `true`) â€“ enriched payload that also includes the `webgl2Maximum` limits exported from the *WebGL2* API for each adapter.

        ### Behaviour details

        1. Records are filtered by `platform` first.

        2. When `withMaximum=true` records without `webgl2Maximum` are excluded.

        3. When `browser_version` is supplied and **greater than 113** _and_ `platform` is not `linux` the backend further ensures that the record  contains WebGPU data (adapter must support the WebGPU API in Chrome â‰¥ 114). Although the field is not returned in the response, this guarantees compatibility with future fingerprint tweaks.
      parameters:
        - name: platform
          in: query
          description: |
            Operating system for which the GPU list should be returned.
            Accepted values match `navigator.platform`.
          required: true
          schema:
            type: string
            enum:
              - windows
              - macos
              - linux
          example: windows
        - name: withMaximum
          in: query
          description: |
            When `true` the response contains **detailed WebGL2 limits** (`webgl2Maximum`)
            for each renderer instead of plain strings.
          required: false
          schema:
            type: boolean
            default: false
          example: false
        - name: browser_version
          in: query
          description: |
            Major Chrome version you plan to use the fingerprint with.
            Required only when you need GPU lists compatible with **WebGPU**
            (Chrome â‰¥ 114 on non-Linux platforms). When omitted no extra filtering
            is applied.

            We're highly recommending to use the latest Chrome version, because we're updating the list of WebGL vendors and renderers often.
          required: false
          schema:
            type: integer
            format: int32
          example: 115
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: Vendor â†’ array of renderer strings (default format).
                    additionalProperties:
                      type: array
                      items:
                        type: string
                        example: ANGLE (NVIDIA, NVIDIA GeForce RTX 3060 Ti, OpenGL 4.1)
                  - type: object
                    description: Vendor â†’ renderer â†’ detailed object (when `withMaximum=true`).
                    additionalProperties:
                      type: object
                      description: Mapping of `webglUnmaskedRenderer` â†’ metrics object.
                      additionalProperties:
                        type: object
                        required:
                          - webgl2Maximum
                        properties:
                          webgl2Maximum:
                            $ref: '#/components/schemas/webgl2Maximum'
        '400':
          description: Invalid request parameters (validation failed).
        '401':
          description: Unauthorized â€“ JWT token missing or invalid.
  /font-list:
    get:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Fingerprints
      summary: List available fonts for a platform
      operationId: fontList
      description: |
        Returns the **complete list of font families** known to exist on real
        devices running the requested platform.

        The values come from Dolphin{anty}'s internal dataset and can be safely
        used when constructing the `fonts` block of a browser fingerprint. Using
        realistic fonts helps to avoid inconsistencies that anti-fraud systems may
        detect.

        ### Behaviour details

        1. The dataset is filtered strictly by `platform`. Only matching records are returned.

        2. The endpoint is **not paginated** â€“ all matching fonts are returned in a single response.

        3. If no fonts are found the backend responds with HTTP `200` and an empty JSON array.
      parameters:
        - name: platform
          in: query
          description: |
            Target operating system that the fonts must correspond to.
          required: true
          schema:
            type: string
            enum:
              - windows
              - macos
              - linux
          example: windows
      responses:
        '200':
          description: Successful response. Array of font records.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/font'
        '400':
          description: Invalid request parameters (validation failed).
        '401':
          description: Unauthorized â€“ JWT token missing or invalid.
  /homepages:
    get:
      servers:
        - url: https://dolphin-anty-api.com/api/v2
          description: APIv2
      tags:
        - Homepages
      summary: List homepages
      operationId: listHomepages
      parameters:
        - name: limit
          in: query
          description: Number of items per page (max 100).
          schema:
            type: integer
            minimum: 10
            maximum: 100
        - name: page
          in: query
          description: Page number to return (1-based).
          schema:
            type: integer
            minimum: 1
        - name: query
          in: query
          description: Full-text search string matching the homepage name or URL.
          schema:
            type: string
        - name: mainWebsites
          in: query
          description: Filter by one or more main website categories (comma-separated).
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - all
                - none
                - facebook
                - google
                - vk
                - tiktok
                - crypto
        - name: sort.key
          in: query
          description: Attribute to sort by.
          schema:
            type: string
            enum:
              - name
        - name: sort.value
          in: query
          description: Sort direction.
          schema:
            type: string
            enum:
              - asc
              - desc
              - ASC
              - DESC
      responses:
        '200':
          description: Paginated list of homepages.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/homepage_list'
        '400':
          description: Invalid request parameters.
        '401':
          description: Unauthorized.
    post:
      servers:
        - url: https://dolphin-anty-api.com/api/v2
          description: APIv2
      tags:
        - Homepages
      summary: Create a homepage
      operationId: createHomepage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/homepage_create'
      responses:
        '200':
          description: Newly created homepage identifier.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - homepageId
                  - data
                properties:
                  success:
                    type: boolean
                  homepageId:
                    type: integer
                    description: Identifier of the newly created homepage.
                  data:
                    type: object
                    required:
                      - id
                    properties:
                      id:
                        type: integer
        '400':
          description: Invalid request payload.
        '401':
          description: Unauthorized.
    delete:
      servers:
        - url: https://dolphin-anty-api.com/api/v2
          description: APIv2
      tags:
        - Homepages
      summary: Bulk delete homepages
      operationId: bulkDeleteHomepages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/homepage_bulk_delete'
      responses:
        '200':
          description: Deletion result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request payload.
        '401':
          description: Unauthorized.
  /homepages/{id}:
    patch:
      servers:
        - url: https://dolphin-anty-api.com/api/v2
          description: APIv2
      tags:
        - Homepages
      summary: Update a homepage
      operationId: updateHomepage
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the homepage.
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/homepage_update'
      responses:
        '200':
          description: Updated homepage data.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/homepage'
        '400':
          description: Invalid request payload.
        '401':
          description: Unauthorized.
        '403':
          description: Access denied (insufficient permissions).
        '404':
          description: Homepage not found.
  /bookmarks:
    get:
      servers:
        - url: https://dolphin-anty-api.com/api/v2
          description: APIv2
      tags:
        - Bookmarks
      summary: List bookmarks
      operationId: listBookmarks
      parameters:
        - name: limit
          in: query
          description: Number of items per page (max 100).
          schema:
            type: integer
            minimum: 10
            maximum: 100
        - name: page
          in: query
          description: Page number to return (1-based).
          schema:
            type: integer
            minimum: 1
        - name: query
          in: query
          description: Full-text search string matching the bookmark name or URL.
          schema:
            type: string
        - name: mainWebsites
          in: query
          description: Filter by one or more main website categories (comma-separated).
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - all
                - none
                - facebook
                - google
                - vk
                - tiktok
                - crypto
        - name: sort.key
          in: query
          description: Attribute to sort by.
          schema:
            type: string
            enum:
              - name
        - name: sort.value
          in: query
          description: Sort direction.
          schema:
            type: string
            enum:
              - asc
              - desc
              - ASC
              - DESC
      responses:
        '200':
          description: Paginated list of bookmarks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookmark_list'
        '400':
          description: Invalid request parameters.
        '401':
          description: Unauthorized.
    post:
      servers:
        - url: https://dolphin-anty-api.com/api/v2
          description: APIv2
      tags:
        - Bookmarks
      summary: Create a bookmark
      operationId: createBookmark
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bookmark_create'
      responses:
        '200':
          description: Newly created bookmark identifier.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - bookmarkId
                  - data
                properties:
                  success:
                    type: boolean
                  bookmarkId:
                    type: integer
                    description: Identifier of the newly created bookmark.
                  data:
                    type: object
                    required:
                      - id
                    properties:
                      id:
                        type: integer
        '400':
          description: Invalid request payload.
        '401':
          description: Unauthorized.
    delete:
      servers:
        - url: https://dolphin-anty-api.com/api/v2
          description: APIv2
      tags:
        - Bookmarks
      summary: Bulk delete bookmarks
      operationId: bulkDeleteBookmarks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bookmark_bulk_delete'
      responses:
        '200':
          description: Deletion result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request payload.
        '401':
          description: Unauthorized.
  /bookmarks/{id}:
    patch:
      servers:
        - url: https://dolphin-anty-api.com/api/v2
          description: APIv2
      tags:
        - Bookmarks
      summary: Update a bookmark
      operationId: updateBookmark
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the bookmark.
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bookmark_update'
      responses:
        '200':
          description: Updated bookmark data.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/bookmark'
        '400':
          description: Invalid request payload.
        '401':
          description: Unauthorized.
        '403':
          description: Access denied (insufficient permissions).
        '404':
          description: Bookmark not found.
  /team/users:
    get:
      servers:
        - url: https://dolphin-anty-api.com/api/v2
          description: API v2
      tags:
        - Team Users (API v2)
      summary: List team members
      operationId: listTeamUsers
      parameters:
        - name: limit
          in: query
          description: Number of items per page (max 100).
          schema:
            type: integer
            minimum: 10
            maximum: 100
        - name: page
          in: query
          description: Page number to return (1-based).
          schema:
            type: integer
            minimum: 1
        - name: query
          in: query
          description: Full-text search string matching the username or display name.
          schema:
            type: string
        - name: sort.key
          in: query
          description: Attribute to sort by.
          schema:
            type: string
            enum:
              - role
        - name: sort.value
          in: query
          description: Sort direction.
          schema:
            type: string
            enum:
              - asc
              - desc
              - ASC
              - DESC
      responses:
        '200':
          description: Paginated list of team users.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/team_user_list'
        '400':
          description: Invalid request parameters.
        '401':
          description: Unauthorized.
    post:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Team Users (API v1)
      summary: Create a team user
      operationId: createTeamUser
      description: |
        Adds a **new member** to the current team account. The caller **must** be an
        `admin` â€“ team-leads and regular users are not allowed to invite other
        members.

        The newly created user inherits the team subscription limits. You can fine-
        tune the ability to create browser profiles via the `canCreateBp`,
        `unlimitedBp` and `bpLimit` fields â€“ see the schema below for details.

        When the userâ€™s role is set to `user` you may optionally attach one or more
        supervisors via the `teamleads` array.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/team_user_create'
      responses:
        '200':
          description: Newly created user data.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/team_user'
        '400':
          description: Invalid request payload (validation errors).
        '401':
          description: Unauthorized.
        '402':
          description: Users quota exceeded for the current subscription plan.
        '403':
          description: Access denied (caller is not an admin).
        '409':
          description: Username already exists.
  /team/users/{userId}:
    patch:
      servers:
        - url: https://dolphin-anty-api.com/api/v2
          description: API v2
      tags:
        - Team Users (API v2)
      summary: Update a team user
      operationId: updateTeamUser
      parameters:
        - name: userId
          in: path
          required: true
          description: Unique identifier of the user to update.
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/team_user_update'
      responses:
        '200':
          description: Updated user data.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/team_user'
        '400':
          description: Invalid request payload.
        '401':
          description: Unauthorized.
        '403':
          description: Access denied (insufficient permissions).
        '404':
          description: User not found.
    delete:
      servers:
        - url: https://dolphin-anty-api.com
          description: API v1
      tags:
        - Team Users (API v1)
      summary: Delete a team user
      operationId: deleteTeamUser
      parameters:
        - name: userId
          in: path
          required: true
          description: Identifier of the user to delete.
          schema:
            type: integer
        - name: shouldTransferProfiles
          in: query
          required: false
          description: |
            When `true` all browser profiles owned by the user are **transferred to
            the team admin** instead of being archived. Defaults to `false`.
          schema:
            type: boolean
      responses:
        '200':
          description: Deletion result.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - transferredBrowserProfilesCount
                properties:
                  success:
                    type: boolean
                    description: Indicates whether the operation was successful.
                  transferredBrowserProfilesCount:
                    type: integer
                    description: Number of browser profiles handed over to the admin.
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized.
        '403':
          description: Access denied (insufficient permissions).
        '404':
          description: User not found.
  /v1.0/local-storage/export:
    get:
      servers:
        - url: https://localhost:3001
          description: Local API
      tags:
        - Local Storage
      summary: Mass export Local Storage (multiple profiles)
      operationId: massExportLocalStorage
      description: |
        Exports Local Storage for **multiple** browser profiles at once. The backend
        creates one file per profile in the host machineâ€™s *Downloads* directory
        (`~/Downloads` or `%USERPROFILE%\Downloads` on Windows).  The response
        merely indicates whether *all* export tasks were scheduled successfully â€“ it
        does **not** return the exported data inline.
      parameters:
        - name: browserProfiles
          in: query
          required: true
          description: |
            JSON-encoded array describing the profiles to export. Each element is an
            object with the following structure:

            ```json
            {
              "id": 12345,                 // Browser profile identifier (required)
              "name": "My profile",        // Human-readable name   (required)
              "transfer": 0,               // Same meaning as in single-export
              "cloudSyncDisabled": false   // Optional override
            }
            ```

            Remember to `encodeURIComponent` the JSON when constructing the URL.
          schema:
            type: string
        - name: plan
          in: query
          required: false
          description: Subscription plan of the caller.
          schema:
            type: string
            enum:
              - free
              - free+
              - base
              - team
              - enterprise
      responses:
        '200':
          description: All exports were executed (files saved to Downloads folder).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              examples:
                success:
                  summary: Successful export scheduling
                  value:
                    success: true
        '400':
          description: Invalid request parameters.
        '401':
          description: Unauthorized.
        '500':
          description: Internal server error.
  /v1.0/local-storage/export/{browserProfileId}:
    get:
      servers:
[...]
